/*------------------------------------*\
#Variables
\*------------------------------------*/
:root {
    --color-alpha: #de4831;
    --color-beta: #e1decb;
    --color-dark: #221e21;
    --gutter: 24px;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

body,
html {
    /* Positioning */
    /* Box model */
    /* Fonts */
    font-family: "Sarabun", sans-serif;
    font-size: 17px;
    line-height: 1.6;
    color: var(--color-dark);
    /* Appearance */
    /* Other styles */
}

/*------------------------------------*\
#Objects
\*------------------------------------*/

.o-grid {
    display: grid;
    gap: calc(var(--gutter)*2);
}

.o-hide {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;
    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;
    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*------------------------------------*\
#Components
\*------------------------------------*/

/* Sidebar */

.c-sidebar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: var(--gutter);
    background: var(--color-beta);
    overflow-x: auto;
}

@media (max-width:550px){
    .c-sidebar{
        z-index: 100;
        transform: translateX(-100%);
        transition: 1s;
    }
}

.c-sidebar--mobile {
    transform: translateX(0) !important;
    transition: 1s;
}

.c-sidebar-header {
    display: flex;
    align-items: center;
}

.c-sidebar-header__image {
    max-height: var(--gutter);

}

.c-sidebar-header__title {
    margin-left: calc(var(--gutter)/2);
    font-size: 1rem;
    /*relative tot the body's font-size*/
}

/* .c-sidebar-menu{} */

.c-sidebar-counter {
    font-size: 1rem;
    font-weight: 600;
}

.c-sidebar-counter__reset{
    color: var(--color-alpha);
    font-size: 0.95rem;
    font-weight: 600;
    will-change: opacity;
    transition: opacity 200ms ease-out;
    opacity: .7;
}

.c-sidebar-counter__reset:hover {
    opacity: 1;
}

/* Menu */

.c-menu__title {
    margin-bottom: 0;
    font-size: 0.8rem;
    text-transform: uppercase;
    opacity: .7;
}

.c-menu__list {
    list-style: none;
    margin: 0 0 calc(var(--gutter)*3);
    padding: 0;
}

/* .c-menu__item{} */

.c-menu__link {
    all: unset;
    color: var(--color-alpha);
    /* letter-spacing: 1px; */
    font-size: 0.95rem;
    font-weight: 600;
    will-change: opacity;
    transition: opacity 200ms ease-out;
    opacity: .7;
    cursor: pointer;
}

.c-menu__link:hover {
    opacity: 1;
}

/* Content */

.c-content {
    height: 100vh;
    box-sizing: border-box;
    padding: var(--gutter) calc(var(--gutter)*2) var(--gutter) 0;
    overflow-x: auto;
}

@media (max-width:550px){
    .c-content{
        padding: calc(var(--gutter)*3) 0 0 0;
        position: absolute;
        left: 0%;
        top: 0%;
        width: 100vw;
    }
}

/* Country */

.c-country {
    display: block;
    opacity: 1;
}

@media (max-width:550px){
    .c-country{
        margin: 0 0 0 calc(var(--gutter)*2);
    }
}

.c-country-input:checked+.c-country {
    opacity: .6;
}

.c-country-header {
    display: flex;
    align-items: flex-start;
}

.c-country-header__name {
    margin: 0;
    font-size: 1.1rem;
}

.c-country-header__flag {
    display: block;
    height: calc(var(--gutter)/1.5);
    margin-left: calc(var(--gutter)/2);
    border-radius: 4px;
}

.c-country__native-name {
    margin: 0;
    opacity: .6;
}

/* Notifications */

.c-notifications  {
    position: absolute;
    bottom: 0;
    right: calc(var(--gutter)*2);
    width: 300px;
}

@media(max-width:550px){
    .c-notifications{
        position: fixed;
    }
}

.c-notification {
    margin: calc(var(--gutter)) 0;
    padding: calc(var(--gutter)/2);

    background: white;
    box-shadow: 1px 1px 2px 1px rgba(30, 30, 30, .1);

    will-change: opacity;

    transition: opacity 800ms ease-in-out;
}

.c-notification__header{
    margin: 0;
    font-size: 1.1rem;
}

.c-notification__action{
    all: unset;

    font-size: 0.9rem;
    color: var(--color-alpha);
    text-transform: uppercase;
    text-decoration: underline;

    cursor: pointer;
    will-change: opacity;
    opacity: .5;

    transition: opacity 200ms ease-out;
}

.c-notification__action:hover{
    opacity: 1;
}

/* Mobile header */

.c-mobile__header{
    display: none;
    position: absolute;
    top: 0;
    left:0;
    background: var(--color-beta);
    height: 50px;
    width: 100vw;
    box-shadow: 1px 1px 2px 1px rgba(30, 30, 30, .1);
    z-index: 100;
}

@media (max-width:550px){
    .c-mobile__header{
        display: block;
    }
}

.c-nav-open {
    position: absolute;
    top: 25%;
    left: 4%;
    width: 24px;
    height: 24px;
}

.c-nav-open__svg {
    fill: #202024;
    height: 100%;
}

.c-nav-close{
    display: none;
}

@media (max-width:550px){
    .c-nav-close {
        display: block;
        position: absolute;
        top: 1.5%;
        right: 4%;
        width: 24px;
        height: 24px;
    }
    
    .c-nav-close__svg {
        fill: #202024;
        height: 100%;
    }
}


/*------------------------------------*\
#Utilities
\*------------------------------------*/

.u-grid-main-layout {
    min-height: 100vh;
    grid-template-columns: 250px 1fr;
}

.u-grid-overview {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.u-color-alpha {
    color: var(--color-alpha);
}

.u-fade-out{
    opacity: 0;
}